DB_HOST=postgres
DB_PORT=5432
LOCAL_DB_HOST=localhost
LOCAL_DB_PORT=5433
DB_NAME=orders_db
DB_USER=orders_user
DB_USERNAME=orders_user
DB_PASSWORD=orders_pass
CONNECTIONSTRINGS__DEFAULT=
APP_JWT_SECRET=c2VjcmV0LWtleS1mb3ItZGV2ZWxvcG1lbnQtb25seS1ub3QtZm9yLXByb2R1Y3Rpb24=
APP_JWT_EXPIRATION_MS=86400000
REDIS_HOST=redis
REDIS_PORT=6379
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
GRAFANA_USER=admin
GRAFANA_PASS=admin
